.separador:nth-child(even) {
    border-bottom-style: double;
}

.taula {
    font-size: 85%;
    text-align: center;
}

th {
    text-align: center;
    background-color:lightblue;
}

tr:nth-child(even) {
    background-color:lightsteelblue;
}

label input {
    font-weight: normal;
}